alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

alias clr=clear
alias cls=clear
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
alias ls='ls -1 --color=always --sort=extension'

# Extract comand
extract () {
   if [ -f $1 ] ; then
       case $1 in
           *.tar.bz2)   tar xvjf $1    ;;
           *.tar.gz)    tar xvzf $1    ;;
           *.bz2)       bunzip2 $1     ;;
           *.rar)       unrar x $1       ;;
           *.gz)        gunzip $1      ;;
           *.tar)       tar xvf $1     ;;
           *.tbz2)      tar xvjf $1    ;;
           *.tgz)       tar xvzf $1    ;;
           *.zip)       unzip $1       ;;
           *.Z)         uncompress $1  ;;
           *.7z)        7z x $1        ;;
           *)           echo "Error: Unable to extract '$1'..." ;;
       esac
   else
       echo "Error: '$1' is not a valid file"
   fi
}

################################################
# Unique to computer Lagrange
################################################

alias pycharm='nohup bash ~/pycharm/bin/pycharm.sh > /dev/null 2>&1 &'
alias jupyter='nohup jupyter notebook > /dev/null 2>&1 &'
alias key='xclip -sel clip ~/llave/gitlab'
alias get_paperspace_auth='cat ~/llave/paperspace'

topaperspace () {
	paperspace jobs create \
	--machineType GPU+ \
	--command "$*" \
	--workspace $PWD \
	--container "registry.gitlab.com/johanbook/alvis-jta/gpu:latest" \
	--registryUsername "johan.book@desupervised.io" \
	--registryPassword $(get_paperspace_auth)
}
